.header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   position: fixed;
   width: 100%;
   height: 70px;
   background-color: rgb(255,255,255);
   padding: 30px;
   z-index: 100;

}


.nav-pic {
    width: 40px;
    border-radius:40px;
}



.logo {
    font-size: 40px;
    color: rgb(0, 123, 255);
    margin-right: 5px;
}



.input-header {
    font-size: 20px;
    width: 240px;
    height: 37px;
    border-radius: 25px;
    border-style: solid;
    padding: 10px;
    margin-top: 5px;
}



.input-header::placeholder {
    font-size: 17px;
    padding-left: 10px;
}



.left-header {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    width: 200px;

}



.middle-header {
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
    flex: 1;
    max-width: 450px;
    
}



.middle-icon {
    font-size: 22px;
    color: gray;
    background-color: white;
    cursor: pointer;
    
}



.middle-icone {
    font-size: 22px;
    color:rgb(0, 123, 255);
    cursor: pointer;
}




.right-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    width: 200px;
    
}



.header-button {
    font-size: 20px;
      padding: 10px;
      height: min-content;
      border-radius: 40px;
      border: none;    
}



.header-button:hover {
    background-color: rgb(128, 128, 128);
}
