.nav-left {
    position: fixed;
    background-color: rgb(240,242,245);
    top: 70px;
    bottom: 0;
    left: 0;
    width: 280px;
}


.left-icons {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin: 30px;
}


.left-icons:hover {
    color:rgba(0, 0, 0, 0);
}


.icon-left {
    font-size: 23px;
    color: rgb(0, 123, 255);
    margin-right: 12px;
    border-radius: 15px;
    border-color: rgb(0, 123, 255);
}


.icony {
    font-size: 23px;
    color: grey;
    margin-right: 12px;
}